<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-4ee3f0b6-eac4-4031-94e2-89513a0af666;AttachDbFilename=|DataDirectory|\aspnet-Website-4ee3f0b6-eac4-4031-94e2-89513a0af666.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="eRestaurantDB" 
         connectionString="Data Source.; Initial Catalog= eRestaurant; Integrated Security=true" 
         providerName="System.Data.SqlClient" />
</connectionStrings>

